@import url("https://fonts.googleapis.com/css?family=Inknut+Antiqua|Work+Sans&display=swap");

body {
  background-color: rgb(195, 223, 221);
}
#formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(14px, -15px) scale(0.75) !important;
  margin-top: 20px;
}
#runBtn {
  margin-top: 20px;
}
#containerBackground {
  background-color: rgba(243, 243, 243, 0.2);
  margin-bottom: 10px;
  border: 1px solid snow;
  border-radius: 25px;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 20px;
}
#displayContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.dataContent {
  font-family: "Work Sans", sans-serif;
  font-size: calc(20px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.blockTitle {
  text-align: center;
  font-size: calc(15px + (26 - 10) * ((100vw - 100px) / (1600 - 300)));
  font-weight: bold;
  color: rgb(167, 109, 67);
  margin: 0;
}

.infoBlock {
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  background-color: rgb(248, 248, 248);
  text-align: center;
  margin: 10px;
  border-radius: 25px;
  height: calc(12vw + 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow:auto;
  word-wrap: break-word;


}

#humidityTitle {
  color: rgb(75, 153, 226) !important;
}
#humidityBar {
  min-height: 20vw;
}
#weatherIcon {
  width: 150px;
  height: auto;
  align-self: center;
}
.cityName {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: calc(18px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: rgb(167, 109, 67);
  font-weight: bold;
}
#timezoneName {
  overflow: auto;
}

@media (max-width: 1200px) {
  #containerBackground {
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 20px;
  }
  #displayContainer {
    grid-column-gap: 0;
    grid-template-columns: 1fr 1fr;
  }
  .infoBlock {
    margin: 10px;
  }
  .dataContent {
    font-size: calc(15px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
}
@media (max-width: 400px) {
  #displayContainer {
    grid-template-columns: 0.9fr;
  }
}
